DB_NAME=payment_gateway_cip
DB_USERNAME=postgres
DB_PASSWORD=fahmi123
DB_URL=jdbc:postgresql://localhost:5432/payment_gateway_cip
SECRET_KEY=b6decf55008b9cb6177d0acc63a9573cb6decf55008b9cb6177d0acc63a9573c